{
  "presets": [
	["latest", {
	"es2017": {
	"loose": true
	}
  }],
  "react",
	"stage-0"
	],
  "plugins": [
	"transform-runtime",
	"transform-async-to-generator"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
