{
	"extends": "airbnb",
	"ecmaFeatures": {
		"jsx": true,
		"modules": true,
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
	},
	"rules": {
		"quotes": [
			2,
			"single",
		],
		"react/prefer-es6-class": 0
	}
}
