<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.reacthotloadingtemplate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Hello World</name>
	<description>
		Hello World sample application using React, Webpack and Hot Reloading.
	</description>
	<author email="support@phonegap.com" href="https://github.com/JedWatson">
		Jed Watson and the PhoneGap Team
	</author>
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="detect-data-types" value="true" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<content src="index.html" />
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<content src="index.html" />
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
		<allow-navigation href="http://*/*" />
	</platform>
	<plugin name="cordova-plugin-whitelist" version="1" />
	<plugin name="cordova-plugin-statusbar" spec="~2.1.0" />
</widget>
