.start {
	background: url('images/start.png') no-repeat center center fixed;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 20px;
}

.start .button-getstarted {
	-webkit-appearance: none;
	background: white;
	border-radius: 2px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	color: #448aff;
	display: block;
	font-size: 160%;
	margin: auto;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	transition: all .1s ease-in;
}

.start .button-getstarted.Tappable-active {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	opacity: 0.9;
	transform: scale(0.98, 0.98);
}
