<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/main.css" />
		<title>Current Step</title>
	</head>
	<body>
		<h1>Current Step: <%= availableSteps %></h1>
		<% for(var i = 1; i <= totalSteps; i++) {%>
			<form method="post" action="/step/<%=i%>">
				<button type="submit"<% if (i == availableSteps) { %> disabled<% } %>>
					Step <%=i%>
				</button>
			</form>
		<% } %>
	</body>
</html>
