<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/main.css" />
		<title>Current Step</title>
	</head>
	<body>
		<h1>Current Step: <%= step %></h1>
		<form method="post" action="/step/1"><button type="submit">Step 1</button></form>
		<form method="post" action="/step/2"><button type="submit">Step 2</button></form>
		<form method="post" action="/step/3"><button type="submit">Step 3</button></form>
		<form method="post" action="/step/4"><button type="submit">Step 4</button></form>
	</body>
</html>
