body {
	background: white;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-weight: normal;
	font-size: 16px;
	margin: 20px 10px;
}

button {
	font-size: 12px;
	display: block;
	margin: 10px;
}
